body{
    font-family: sans-serif;
    background-image: url(F9Mvs-XaQAAC36v.jpg);
    background-size: cover;
}


.con{
    border: 3px solid firebrick;
    width: 1024px;
    margin: auto;
}
.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: pink;
}
.flex{
    position: relative;
    text-align: center;
    margin-top: 48px;
    margin-left: auto;
    margin-right: auto;
}
.noti {
    position: absolute;
    background-color: red;
    width: 28px;
    height: 28px;
    border-radius: 200px;
    right: 0;
    bottom: 0;
    display: grid;
}
.gallery{
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(4, 300px);
    margin-left: auto;
    gap: 10px;
    margin-right: auto;
    place-items: center;
    padding: 50px;
    background-color: pink;
}
.gall-item{
    background-color: cyan;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}
.pro{
    background-image: url(Pixela_logo.jpg);
    background-color: blueviolet;
    width: 256px;
    height: 256px;
    border-radius: 200px;
    padding: 25px;
    background-size: cover;
    background-position: center;
}
.on-sss{
 text-decoration: none;
 color:black
}
.on-sss:hover{
    text-decoration: underline;
    color: blue;
}